<!DOCTYPE HTML>
<html>
  <head>
    <title>{{appTitle}} - {{pageTitle}}</title>
    {{#metadata}}
      <meta name="{{name}}" content="{{content}}" />
    {{/metadata}}

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/prism.css">
    {{#css}}
    <link rel="stylesheet" href="{{.}}">
    {{/css}}
    <script src="/js/jquery-1.11.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/prism.js"></script>

  </head>
  <body>
    {{{content}}}
  </body>
</html>